<ion-card *ngIf="gameDetails">
  <ion-item>
    <ion-thumbnail slot="start" *ngIf="gameDetails.thumbnail;else dice">
      <img alt="toto" [src]="gameDetails.thumbnail">
    </ion-thumbnail>
    <ng-template #dice>
      <ion-icon name="dice-outline" slot="start"></ion-icon>
    </ng-template>
    <ion-label>{{gameDetails?.name}}</ion-label>
    <ion-label>({{gameDetails?.yearPublished}})</ion-label>
    <ion-button (click)="showDetails = !showDetails">showDetails</ion-button>
  </ion-item>

  <ion-card-content >
    <div *ngIf="showDetails">
      Thèmes :
      <p *ngFor="let theme of gameDetails.themes">{{theme}}</p>
      <br>
      Description :
      <app-game-details [game]="gameDetails"></app-game-details>
    </div>
  </ion-card-content>
</ion-card>
