<app-header [pageTitle]="pageTitle"></app-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{pageTitle}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label>Recherche :</ion-label>
      <ion-input placeholder="Nom du jeu" type="text" [(ngModel)]="search" (ionChange)="doSearch()"></ion-input>
    </ion-item>

    <div *ngIf="foundGames">
      <ion-item>
        <ion-label>
          Nombre de jeux trouvés : {{(foundGames | async)?.length}}
        </ion-label>
      </ion-item>
    </div>
    <div *ngFor="let game of foundGames | async">
      <app-game-card [game]="game" [addButton]="true"
                     (addToLibraryEvent)="addToLibrary($event)">
      </app-game-card>
    </div>
  </div>
</ion-content>
